<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <style>
      .fb-color{
        background-color: #3b539b
      }
      .text-logo{
        font-size: 30px;
        color: white;
      }
      .header_img{
        width: 33%
      }
    </style>
    <!--BOOTSTRAP CSS import-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <!--js-->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script>
  $(document).ready(function(){
  var count=2;
  $(".add").click(function() {
      var a=$("#default_form").clone(true)
      a.css("visibility","visible");
      a.children("#ing_id").attr("name","ingredient_"+String(count))
      a.children("#amount_id").attr("name","amount_"+String(count))
      a.children("#meas_id").attr("name","measurement_"+String(count))
      a.insertBefore("#add_button");
      count=count+1;
      return false;
  });

  $(".remove").click(function() {
      $(this).parent().remove();
      count=count-1;
  });
  });
  </script>

  </head>
<body>

  <!--Navbar-->
  <nav class="navbar navbar-dark fb-color">
    <a class="text-logo navbar-brand">DH Cookcrew</a>
    <form class="form-inline">
      <input  class="form-control mr-sm-2" type="search" placeholder="Search">
      <button class="btn btn-outline-light" type="submit">Search</button>
    </form>
  </nav>
  <!--Navbar End-->
  <a href="/">
  <img class="header_img mx-auto d-block" src="{{url_for('static', filename='images/cookcrew_logo.jpg')}}"> </a>

<form method=post>
    <label>Recipe Name:</label> <input type="text" name="name" placeholder="Cat Bobbies...">
    <label>Number of Servings:</label> <input type="text" name="servings" placeholder="6...">
    <p id=default_form style="visibility: hidden;">
        <label>Ingredient:</label> <input id="ing_id" type="text" placeholder="asparagus">
        <label>Amount:</label> <input id="amount_id" type="text" placeholder="1">
        <label>Measurement:</label> <input id = "meas_id" type="text" placeholder="pound">
        <span class="remove">Remove</span>
    </p>
    <p>
        <label>Ingredient:</label> <input type="text" name="ingredient_1" placeholder="asparagus">
        <label>Amount:</label> <input type="text" name="amount_1" placeholder="1">
        <label>Measurement:</label> <input type="text" name="measurement_1" placeholder="pound">
        <span class="remove">Remove</span>
    </p>

    <p id="add_button">
        <span class="add">Add fields</span>
    </p>
    <label>Recipe Instructions:</label>  
    <p></p><textarea name="recipe" cols="150" rows="10"></textarea>
    <p></p>
    <button class="btn btn-primary" type="submit">Submit</button>
</form>




  
  <!--BOOTSTRAP Javascript import-->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</body>
</html>